{% extends 'content.html.twig' %}

{% block pageContent %}
    
    <div class="content-wrapper" style="min-height: 847px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Manage {{ page_title }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-payment_type active">{{ page_title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div  class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class='container'>
                                                <div class='row mt-3'>
                                                    <div class='col-12'>
                                                        <div>
                                                            <a href="javascript:void(0);" class='btn btn-danger btn-report' data-url="{{ path('invoice_aging_report_pdf') }}"> PDF</a>
                                                            <a href="javascript:void(0);" class='btn btn-success btn-report' data-url="{{ path('invoice_aging_report_csv') }}"> CSV</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include 'js.html.twig' %}

    <script language="javascript">
        //<![CDATA[
        $(document).ready(function(){

            $.each($('.btn-report'),function(){
                var _this = $(this);
                _this.unbind('click').bind('click',function(){
                    window.open(_this.data('url') , '_blank');
                });
            });
        });
        //]]>
    </script>
{% endblock %}